@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap";
@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
* {
  padding: 0;
  margin: 0;
}

header {
  padding: 30px 0;
}
header .container .navbar {
  position: relative;
}
header .container .navbar .navigator {
  justify-content: end;
}
header .container .navbar .navigator_ul {
  align-items: center;
}
header .container .navbar .navigator_ul .nav-item .nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}
header .container .navbar .navigator_ul .nav-item .nav-link img {
  display: block;
  max-width: 100%;
}
header .container .navbar .navbar-brand img {
  position: absolute;
  display: block;
  max-width: 100%;
  justify-content: left;
  height: 21px;
  left: 0;
  top: 16px;
}

.sec_owl_car .container .slider .item {
  background: url("../images/owl_back.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 32px;
  padding: 145px 0 0 56px;
}
.sec_owl_car .container .slider .item .owl_main_div {
  padding-bottom: 50px;
}
.sec_owl_car .container .slider .item .owl_main_div .h1_main {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  max-width: 588px;
}
.sec_owl_car .container .slider .item .owl_main_div .p_main {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 19px 0 44px 0;
}
.sec_owl_car .container .slider .item .owl_main_div .a_main {
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
}

.owl-nav .owl-next:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f104";
  color: black;
  font-size: 30px;
  position: absolute;
  left: 19px;
  top: 260px;
  width: 12px;
  height: 24px;
}

.owl-nav .owl-prev:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f105";
  color: black;
  font-size: 30px;
  position: absolute;
  right: 19px;
  top: 260px;
  width: 12px;
  height: 24px;
}

.sec_show_our {
  padding: 0 72px 74px 73px;
}
.sec_show_our .container .first_row {
  margin-bottom: 55px;
}
.sec_show_our .container .first_row h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.sec_show_our .container .first_row p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 628px;
  margin: auto;
}
.sec_show_our .container .second_row .laptop {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.sec_show_our .container .second_row .laptop img {
  display: block;
  max-width: 100%;
  margin-bottom: 18px;
}
.sec_show_our .container .second_row .laptop h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}
.sec_show_our .container .second_row .laptop h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
}
.sec_show_our .container .second_row .watch {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  background: #FFFFFF;
  margin-top: 72px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.sec_show_our .container .second_row .watch img {
  display: block;
  max-width: 100%;
}
.sec_show_our .container .second_row .watch h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}
.sec_show_our .container .second_row .watch h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
}
.sec_show_our .container .second_row .watch .watch_text {
  align-items: end;
}
.sec_show_our .container .second_row .phones {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.sec_show_our .container .second_row .phones img {
  display: block;
  max-width: 100%;
  margin-top: 144px;
  margin-bottom: 41px;
}
.sec_show_our .container .second_row .phones h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.sec_show_our .container .second_row .phones h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.sec_show_our .container .second_row .tablets {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.sec_show_our .container .second_row .tablets img {
  display: block;
  max-width: 100%;
}
.sec_show_our .container .second_row .tablets h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-top: 114px;
}
.sec_show_our .container .second_row .tablets h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 42px;
}

.sec_save_on {
  padding: 0 72px 74px 73px;
}
.sec_save_on .container .first_row h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.sec_save_on .container .first_row p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 31px;
  text-align: center;
}
.sec_save_on .container .second_row {
  text-align: left;
}
.sec_save_on .container .second_row img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.sec_save_on .container .second_row h4 {
  margin-top: 37px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
.sec_save_on .container .second_row p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}
.sec_save_on .container .second_row .h4_price {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.sec_save_on .container .second_row .h4_price_special {
  margin-top: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.sec_see_the_best {
  padding: 0 72px 74px 73px;
}
.sec_see_the_best .container .first_row h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.sec_see_the_best .container .first_row p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 31px;
  text-align: center;
}
.sec_see_the_best .container .second_row .option .option_plus {
  background: #F8F9FA;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.sec_see_the_best .container .second_row .option .option_plus p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-top: 41px;
}
.sec_see_the_best .container .second_row .option .option_plus h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.sec_see_the_best .container .second_row .option .option_plus a {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
  text-decoration: none;
  box-sizing: border-box;
  padding: 14px 53px;
  max-width: 190px;
  margin: auto;
}
.sec_see_the_best .container .second_row .option .option_plus .img_see_the_best {
  margin: auto;
  display: block;
  max-width: 100%;
  width: 294px;
  height: 250px;
}

.sec_ideas_have {
  padding: 0 72px 74px 73px;
}
.sec_ideas_have .container .first_row h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.sec_ideas_have .container .first_row p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 56px;
  text-align: center;
}
.sec_ideas_have .container .second_row img {
  display: block;
  max-width: 100%;
}
.sec_ideas_have .container .second_row p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 28px 0 5px 0;
}
.sec_ideas_have .container .third_row .link_to {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  display: block;
  text-align: center;
  margin: 73px 0 24px;
}

.sec_looking_for .container .first_row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec_looking_for .container .first_row h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 24px;
  color: #000000;
}
.sec_looking_for .container .first_row a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  padding: 21px 476px 22px 85px;
}
.sec_looking_for .container .second_row {
  margin-top: 68px;
}
.sec_looking_for .container .second_row .option {
  background: #DCE5E2;
  border-radius: 16px;
  overflow: hidden;
  padding: 47px 0 43px;
}
.sec_looking_for .container .second_row .option h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.sec_looking_for .container .second_row .option p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.sec_looking_for .container .second_row .option img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.sec_looking_for .container .second_row .option a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
  padding: 16px 84px 17px 32px;
}

footer .container {
  background: #F8F9FA;
}
footer .container .first_row {
  text-align: left;
  padding-top: 44px;
  padding-left: 73px;
}
footer .container .first_row img {
  display: block;
  max-width: 100%;
}
footer .container .first_row p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 18px;
  max-width: 304px;
}
footer .container .first_row h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 19px;
}
footer .container .first_row ul li {
  list-style-type: none;
}
footer .container .first_row ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 14px;
}
footer .container .second_row {
  padding-top: 44px;
  padding-left: 73px;
}
footer .container .second_row .azwedo_link {
  display: block;
  text-align: left;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
footer .container .second_row .azwedo_link span {
  margin-left: 3px;
  font-family: "Inter";
}
footer .container .second_row .webflow_link {
  display: block;
  text-align: right;
  margin-right: 50px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
footer .container .second_row .webflow_link span {
  margin-left: 3px;
  font-family: "Inter";
}

/*# sourceMappingURL=style.css.map */
